deploy/projects/athenafarm/states/Main.param.asl.json
{
  "Comment": "athenafarm — tract/farm producer year ETL pipeline. Parallel ingest of SSS + PG reference + PG CDC tables, followed by Spark MERGE INTO transforms and RDS sync. All infrastructure values substituted at deploy time.",
  "StartAt": "IngestParallel",
  "States": {
    "IngestParallel": {
      "Type": "Parallel",
      "Comment": "Run all three ingest jobs concurrently — SSS Athena tables, PG reference tables, and PG CDC target snapshots.",
      "Branches": [
        {
          "StartAt": "StartSSSCrawler",
          "States": {
            "StartSSSCrawler": {
              "Type": "Task",
              "Comment": "Start the SSS Farmrecords Glue crawler to refresh the sss-farmrecords catalog database from S3 landing zone. If already running from a concurrent execution, skip straight to the poll loop.",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "__SSS_CRAWLER_NAME__"
              },
              "ResultPath": null,
              "Catch": [
                {
                  "ErrorEquals": ["Glue.CrawlerRunningException"],
                  "Comment": "Crawler already running — skip the start and fall into the poll loop.",
                  "ResultPath": null,
                  "Next": "WaitForSSSCrawler"
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.crawler_error",
                  "Next": "IngestSSSFailed"
                }
              ],
              "Next": "WaitForSSSCrawler"
            },
            "WaitForSSSCrawler": {
              "Type": "Wait",
              "Comment": "Poll every 30 seconds until the crawler reaches READY state.",
              "Seconds": 30,
              "Next": "GetSSSCrawlerState"
            },
            "GetSSSCrawlerState": {
              "Type": "Task",
              "Comment": "Read current crawler state. READY = finished (success or failure). Any other value = still running.",
              "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
              "Parameters": {
                "Name": "__SSS_CRAWLER_NAME__"
              },
              "ResultPath": "$.crawler_status",
              "Next": "CheckSSSCrawlerDone"
            },
            "CheckSSSCrawlerDone": {
              "Type": "Choice",
              "Comment": "Branch on crawler State. READY means finished — check LastCrawl.Status separately in IngestSSS logs. Anything else means still running.",
              "Choices": [
                {
                  "Variable": "$.crawler_status.Crawler.State",
                  "StringEquals": "READY",
                  "Next": "CheckSSSCrawlerStatus"
                }
              ],
              "Default": "WaitForSSSCrawler"
            },
            "CheckSSSCrawlerStatus": {
              "Type": "Choice",
              "Comment": "Crawler is READY. Check LastCrawl.Status — FAILED means no catalog tables were updated and IngestSSS would read stale/missing data.",
              "Choices": [
                {
                  "Variable": "$.crawler_status.Crawler.LastCrawl.Status",
                  "StringEquals": "FAILED",
                  "Next": "IngestSSSFailed"
                }
              ],
              "Default": "IngestSSS"
            },
            "IngestSSS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_SSS_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 28800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_sss_error",
                  "Next": "IngestSSSFailed"
                }
              ],
              "End": true
            },
            "IngestSSSFailed": {
              "Type": "Fail",
              "Cause": "SSS crawler or IngestSSS Glue job failed",
              "Error": "IngestSSSError"
            }
          }
        },
        {
          "StartAt": "IngestPGReferenceTables",
          "States": {
            "IngestPGReferenceTables": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_PG_REFS_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 28800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_pg_refs_error",
                  "Next": "IngestPGRefsFailed"
                }
              ],
              "End": true
            },
            "IngestPGRefsFailed": {
              "Type": "Fail",
              "Cause": "IngestPGReferenceTables Glue job failed",
              "Error": "IngestPGRefsError"
            }
          }
        },
        {
          "StartAt": "IngestPGCDCTargets",
          "States": {
            "IngestPGCDCTargets": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_PG_CDC_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 28800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_pg_cdc_error",
                  "Next": "IngestPGCDCFailed"
                }
              ],
              "End": true
            },
            "IngestPGCDCFailed": {
              "Type": "Fail",
              "Cause": "IngestPGCDCTargets Glue job failed",
              "Error": "IngestPGCDCError"
            }
          }
        }
      ],
      "ResultPath": "$.ingest_results",
      "Next": "TransformParallel",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ]
    },

    "TransformParallel": {
      "Type": "Parallel",
      "Comment": "Run tract and farm producer year transforms concurrently. Both read from S3 Iceberg only (no shared write targets, no locks).",
      "Branches": [
        {
          "StartAt": "TransformTractProducerYear",
          "States": {
            "TransformTractProducerYear": {
              "Type": "Task",
              "Comment": "Run the full IBase→ZMI→PG CTE join chain and apply MERGE INTO on tract_producer_year.",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--full_load.$": "$.full_load"
                }
              },
              "TimeoutSeconds": 28800,
              "ResultPath": "$.transform_tpy_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "TransformFarmProducerYear",
          "States": {
            "TransformFarmProducerYear": {
              "Type": "Task",
              "Comment": "Run the farm-level IBase→ZMI→PG CTE join chain and apply MERGE INTO on farm_producer_year.",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_FARM_PY_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--full_load.$": "$.full_load"
                }
              },
              "TimeoutSeconds": 28800,
              "ResultPath": "$.transform_fpy_result",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.transform_results",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ],
      "Next": "CheckSkipRDSSync"
    },

    "CheckSkipRDSSync": {
      "Type": "Choice",
      "Comment": "Only run SyncToRDS if skip_rds_sync is explicitly false. Default (absent or true) skips the sync.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_rds_sync",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_rds_sync",
              "BooleanEquals": false
            }
          ],
          "Next": "SyncToRDS"
        }
      ],
      "Default": "Notify"
    },

    "SyncToRDS": {
      "Type": "Task",
      "Comment": "Sync the Iceberg delta rows back to the authoritative RDS PostgreSQL instance.",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__SYNC_RDS_GLUE_JOB_NAME__",
        "Arguments": {
          "--env": "__ENV__",
          "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
          "--full_load.$": "$.full_load"
        }
      },
      "TimeoutSeconds": 28800,
      "ResultPath": "$.sync_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ],
      "Next": "Notify"
    },

    "Notify": {
      "Type": "Task",
      "Comment": "Publish pipeline completion/failure notification via SNS Lambda. Passes the full execution state so the Lambda can report whatever fields are present regardless of which stage failed.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__SNS_NOTIFY_FN_ARN__",
        "Payload": {
          "env": "__ENV__",
          "pipeline": "athenafarm",
          "executionState.$": "$"
        }
      },
      "End": true
    }
  }
}
