deploy/projects/athenafarm/states/Main.param.asl.json
{
  "Comment": "athenafarm — tract/farm producer year ETL pipeline. Parallel ingest of SSS + PG reference + PG CDC tables, followed by Spark DataFrame full-load transforms and optional RDS sync. All infrastructure values substituted at deploy time.",
  "StartAt": "IngestParallel",
  "States": {
    "IngestParallel": {
      "Type": "Parallel",
      "Comment": "Run all three ingest jobs concurrently — SSS source tables, PG reference tables, and PG CDC target snapshots.",
      "Branches": [
        {
          "StartAt": "StartSSSCrawler",
          "States": {
            "StartSSSCrawler": {
              "Type": "Task",
              "Comment": "Start the SSS Farmrecords Glue crawler to refresh the sss-farmrecords catalog database from S3 landing zone. If already running from a concurrent execution, skip straight to the poll loop.",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "__SSS_CRAWLER_NAME__"
              },
              "ResultPath": null,
              "Catch": [
                {
                  "ErrorEquals": ["Glue.CrawlerRunningException"],
                  "Comment": "Crawler already running — skip the start and fall into the poll loop.",
                  "ResultPath": null,
                  "Next": "WaitForSSSCrawler"
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.crawler_error",
                  "Next": "IngestSSSFailed"
                }
              ],
              "Next": "WaitForSSSCrawler"
            },
            "WaitForSSSCrawler": {
              "Type": "Wait",
              "Comment": "Poll every 30 seconds until the crawler reaches READY state.",
              "Seconds": 30,
              "Next": "GetSSSCrawlerState"
            },
            "GetSSSCrawlerState": {
              "Type": "Task",
              "Comment": "Read current crawler state. READY = finished (success or failure). Any other value = still running.",
              "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
              "Parameters": {
                "Name": "__SSS_CRAWLER_NAME__"
              },
              "ResultPath": "$.crawler_status",
              "Next": "CheckSSSCrawlerDone"
            },
            "CheckSSSCrawlerDone": {
              "Type": "Choice",
              "Comment": "Branch on crawler State. READY means finished — check LastCrawl.Status separately in IngestSSS logs. Anything else means still running.",
              "Choices": [
                {
                  "Variable": "$.crawler_status.Crawler.State",
                  "StringEquals": "READY",
                  "Next": "CheckSSSCrawlerStatus"
                }
              ],
              "Default": "WaitForSSSCrawler"
            },
            "CheckSSSCrawlerStatus": {
              "Type": "Choice",
              "Comment": "Crawler is READY. Check LastCrawl.Status — FAILED means no catalog tables were updated and IngestSSS would read stale/missing data.",
              "Choices": [
                {
                  "Variable": "$.crawler_status.Crawler.LastCrawl.Status",
                  "StringEquals": "FAILED",
                  "Next": "IngestSSSFailed"
                }
              ],
              "Default": "IngestSSS"
            },
            "IngestSSS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_SSS_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 1800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_sss_error",
                  "Next": "IngestSSSFailed"
                }
              ],
              "End": true
            },
            "IngestSSSFailed": {
              "Type": "Fail",
              "Cause": "SSS crawler or IngestSSS Glue job failed",
              "Error": "IngestSSSError"
            }
          }
        },
        {
          "StartAt": "IngestPGReferenceTables",
          "States": {
            "IngestPGReferenceTables": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_PG_REFS_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 28800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_pg_refs_error",
                  "Next": "IngestPGRefsFailed"
                }
              ],
              "End": true
            },
            "IngestPGRefsFailed": {
              "Type": "Fail",
              "Cause": "IngestPGReferenceTables Glue job failed",
              "Error": "IngestPGRefsError"
            }
          }
        },
        {
          "StartAt": "IngestPGCDCTargets",
          "States": {
            "IngestPGCDCTargets": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__INGEST_PG_CDC_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__"
                }
              },
              "TimeoutSeconds": 28800,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ingest_pg_cdc_error",
                  "Next": "IngestPGCDCFailed"
                }
              ],
              "End": true
            },
            "IngestPGCDCFailed": {
              "Type": "Fail",
              "Cause": "IngestPGCDCTargets Glue job failed",
              "Error": "IngestPGCDCError"
            }
          }
        }
      ],
      "ResultPath": "$.ingest_results",
      "Next": "TransformParallel",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ]
    },

    "TransformParallel": {
      "Type": "Parallel",
      "Comment": "Run tract and farm producer year transforms concurrently. Both read from S3 Iceberg only (no shared write targets, no locks).",
      "Branches": [
        {
          "StartAt": "SelectTransformTractPath",
          "States": {
            "SelectTransformTractPath": {
              "Type": "Choice",
              "Comment": "Default to single_fast tract transform; allow explicit fallback to legacy staged chain when requested.",
              "Choices": [
                {
                  "Variable": "$.force_legacy_tract_path",
                  "BooleanEquals": true,
                  "Next": "TransformTractProducerYearPreprocessSpine"
                }
              ],
              "Default": "TransformTractProducerYearSingleFast"
            },
            "TransformTractProducerYearSingleFast": {
              "Type": "Task",
              "Comment": "Run tract single_fast stage (single-pass in-memory transform + direct publish) with highest DPU profile (G.2X x 40) (TimeoutSeconds=3600, --max_job_seconds=0).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 40,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "single_fast",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "0"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 3600,
              "ResultPath": "$.transform_tpy_single_fast_result",
              "End": true
            },
            "TransformTractProducerYearPreprocessSpine": {
              "Type": "Task",
              "Comment": "Run tract preprocess spine stage (ibsp projection/normalization) with highest DPU profile (G.2X x 40) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 40,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_spine",
                  "--shuffle_partitions": "1400",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_spine_result",
              "Next": "TransformTractProducerYearPreprocessStructureLink"
            },
            "TransformTractProducerYearPreprocessStructureLink": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-link stage (spine+ibst) with balanced DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_link",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_link_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmFilter"
            },
            "TransformTractProducerYearPreprocessStructureFarmFilter": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-filter stage (structure_link key-filter + ibib projection) with highest DPU profile (G.2X x 40) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 40,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_filter",
                  "--shuffle_partitions": "1400",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_filter_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB0"
            },
            "TransformTractProducerYearPreprocessStructureFarmB0": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b0 stage (hex bucket 0) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b0",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b0_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB1"
            },
            "TransformTractProducerYearPreprocessStructureFarmB1": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b1 stage (hex bucket 1) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b1",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b1_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB2"
            },
            "TransformTractProducerYearPreprocessStructureFarmB2": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b2 stage (hex bucket 2) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b2",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b2_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB3S0"
            },
            "TransformTractProducerYearPreprocessStructureFarmB3S0": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b3 shard s0 stage with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b3_s0",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b3_s0_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB3S1"
            },
            "TransformTractProducerYearPreprocessStructureFarmB3S1": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b3 shard s1 stage with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b3_s1",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b3_s1_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB3S2"
            },
            "TransformTractProducerYearPreprocessStructureFarmB3S2": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b3 shard s2 stage with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b3_s2",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b3_s2_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB3S3"
            },
            "TransformTractProducerYearPreprocessStructureFarmB3S3": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b3 shard s3 stage with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b3_s3",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b3_s3_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB4"
            },
            "TransformTractProducerYearPreprocessStructureFarmB4": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b4 stage (hex bucket 4) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b4",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b4_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB5"
            },
            "TransformTractProducerYearPreprocessStructureFarmB5": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b5 stage (hex bucket 5) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b5",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b5_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB6"
            },
            "TransformTractProducerYearPreprocessStructureFarmB6": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b6 stage (hex bucket 6) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b6",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b6_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB7"
            },
            "TransformTractProducerYearPreprocessStructureFarmB7": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b7 stage (hex bucket 7) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b7",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b7_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB8"
            },
            "TransformTractProducerYearPreprocessStructureFarmB8": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b8 stage (hex bucket 8) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b8",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b8_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB9"
            },
            "TransformTractProducerYearPreprocessStructureFarmB9": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b9 stage (hex bucket 9) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b9",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b9_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB10"
            },
            "TransformTractProducerYearPreprocessStructureFarmB10": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b10 stage (hex bucket 10) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b10",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b10_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB11"
            },
            "TransformTractProducerYearPreprocessStructureFarmB11": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b11 stage (hex bucket 11) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b11",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b11_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB12"
            },
            "TransformTractProducerYearPreprocessStructureFarmB12": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b12 stage (hex bucket 12) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b12",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b12_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB13"
            },
            "TransformTractProducerYearPreprocessStructureFarmB13": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b13 stage (hex bucket 13) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b13",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b13_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB14"
            },
            "TransformTractProducerYearPreprocessStructureFarmB14": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b14 stage (hex bucket 14) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b14",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b14_result",
              "Next": "TransformTractProducerYearPreprocessStructureFarmB15"
            },
            "TransformTractProducerYearPreprocessStructureFarmB15": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure-farm-b15 stage (hex bucket 15) with high DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_farm_b15",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_structure_farm_b15_result",
              "Next": "TransformTractProducerYearPreprocessStructureMerge"
            },
            "TransformTractProducerYearPreprocessStructureMerge": {
              "Type": "Task",
              "Comment": "Run tract preprocess structure merge stage (union b0..b15 into consolidated structure stage) with balanced DPU profile (G.2X x 16) (TimeoutSeconds=1020, --max_job_seconds=900).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 16,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_structure_merge",
                  "--shuffle_partitions": "700",
                  "--max_job_seconds": "900"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1020,
              "ResultPath": "$.transform_tpy_preprocess_structure_merge_result",
              "Next": "TransformTractProducerYearPreprocessCore2Extract"
            },
            "TransformTractProducerYearPreprocessCore2Extract": {
              "Type": "Task",
              "Comment": "Run tract preprocess core2-extract stage (ibin key projection/materialization) with high DPU profile (G.2X x 32) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 32,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_core2_extract",
                  "--shuffle_partitions": "1200",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_core2_extract_result",
              "Next": "TransformTractProducerYearPreprocessCore2"
            },
            "TransformTractProducerYearPreprocessCore2": {
              "Type": "Task",
              "Comment": "Run tract preprocess core2 stage (structure_farm+core2_extract) with high DPU profile (G.2X x 32) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 32,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_core2",
                  "--shuffle_partitions": "1200",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_core2_result",
              "Next": "TransformTractProducerYearPreprocessPartner"
            },
            "TransformTractProducerYearPreprocessPartner": {
              "Type": "Task",
              "Comment": "Run tract preprocess partner stage (core2+ibpart+crmd_partner) with balanced DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_partner",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_partner_result",
              "Next": "TransformTractProducerYearPreprocessEnrich"
            },
            "TransformTractProducerYearPreprocessEnrich": {
              "Type": "Task",
              "Comment": "Run tract preprocess enrich stage to materialise tract_current stage table with balanced DPU profile (G.2X x 24) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 24,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "preprocess_enrich",
                  "--shuffle_partitions": "900",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_preprocess_enrich_result",
              "Next": "TransformTractProducerYearFinalizeResolve"
            },
            "TransformTractProducerYearFinalizeResolve": {
              "Type": "Task",
              "Comment": "Run tract finalize resolve stage with moderate DPU profile (G.2X x 16) (TimeoutSeconds=1140, --max_job_seconds=1020).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 16,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "finalize_resolve",
                  "--shuffle_partitions": "700",
                  "--max_job_seconds": "1020"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_finalize_resolve_result",
              "Next": "TransformTractProducerYearFinalizePublish"
            },
            "TransformTractProducerYearFinalizePublish": {
              "Type": "Task",
              "Comment": "Run tract finalize publish stage to write final snapshot with moderate DPU profile (G.2X x 12) (TimeoutSeconds=1140, --max_job_seconds=900).",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_TRACT_PY_GLUE_JOB_NAME__",
                "WorkerType": "G.2X",
                "NumberOfWorkers": 12,
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--task_mode": "finalize_publish",
                  "--shuffle_partitions": "500",
                  "--max_job_seconds": "900"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "Glue.ConcurrentRunsExceededException",
                    "Glue.InternalServiceException",
                    "Glue.OperationTimeoutException",
                    "States.Timeout"
                  ],
                  "IntervalSeconds": 20,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "TimeoutSeconds": 1140,
              "ResultPath": "$.transform_tpy_finalize_publish_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "TransformFarmProducerYear",
          "States": {
            "TransformFarmProducerYear": {
              "Type": "Task",
              "Comment": "Run the farm-level DataFrame transform and write a full-load snapshot to farm_producer_year.",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "__TRANSFORM_FARM_PY_GLUE_JOB_NAME__",
                "Arguments": {
                  "--env": "__ENV__",
                  "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
                  "--full_load": "true"
                }
              },
              "TimeoutSeconds": 28800,
              "ResultPath": "$.transform_fpy_result",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.transform_results",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ],
      "Next": "CheckSkipRDSSync"
    },

    "CheckSkipRDSSync": {
      "Type": "Choice",
      "Comment": "Only run SyncToRDS if skip_rds_sync is explicitly false. Default (absent or true) skips the sync.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_rds_sync",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_rds_sync",
              "BooleanEquals": false
            }
          ],
          "Next": "SyncToRDS"
        }
      ],
      "Default": "Notify"
    },

    "SyncToRDS": {
      "Type": "Task",
      "Comment": "Sync the Iceberg delta rows back to the authoritative RDS PostgreSQL instance.",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__SYNC_RDS_GLUE_JOB_NAME__",
        "Arguments": {
          "--env": "__ENV__",
          "--iceberg_warehouse": "__ICEBERG_WAREHOUSE__",
          "--full_load": "true"
        }
      },
      "TimeoutSeconds": 28800,
      "ResultPath": "$.sync_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ],
      "Next": "Notify"
    },

    "Notify": {
      "Type": "Task",
      "Comment": "Publish pipeline completion/failure notification via SNS Lambda. Passes the full execution state so the Lambda can report whatever fields are present regardless of which stage failed.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__SNS_NOTIFY_FN_ARN__",
        "Payload": {
          "env": "__ENV__",
          "pipeline": "athenafarm",
          "executionState.$": "$"
        }
      },
      "End": true
    }
  }
}
