deploy/projects/cnsv/states/Cntr-Maint-Main.param.asl.json
{
  "Comment": "CNSV Cntr-Maint Main orchestrator. All infrastructure values substituted at deploy time.",
  "StartAt": "RunIncrementalToS3Landing",
  "States": {
    "RunIncrementalToS3Landing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__INCREMENTAL_TO_S3LANDING_SM_ARN__",
        "Input": {
          "Bucket": "__JOB_ID_BUCKET__",
          "Key": "__JOB_ID_KEY__"
        }
      },
      "ResultSelector": {
        "JobId.$": "$.Output.JobId.JobId",
        "noFiles.$": "$.Output.JobId.noFiles",
        "FileList.$": "$.Output.JobId.FileList"
      },
      "ResultPath": "$",
      "Next": "BranchOnNoFiles"
    },
    "BranchOnNoFiles": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.noFiles",
          "BooleanEquals": true,
          "Next": "Notify"
        }
      ],
      "Default": "RunS3LandingToS3FinalRawDM"
    },
    "RunS3LandingToS3FinalRawDM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__S3LANDING_TO_S3FINAL_RAW_DM_SM_ARN__",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "JobId.$": "$.JobId",
          "step_seq_nbr": "2",
          "SfName": "__S3LANDING_TO_S3FINAL_RAW_DM_SM_NAME__"
        }
      },
      "ResultPath": null,
      "Next": "UpdateProcessControl"
    },
    "UpdateProcessControl": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__PROCESS_CONTROL_UPDATE_SM_ARN__",
        "Input": {
          "JobId.$": "$.JobId",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultPath": null,
      "Next": "Notify"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__SNS_PUBLISH_VALIDATIONS_REPORT_FN_ARN__",
        "Payload": {
          "JobId.$": "$.JobId",
          "noFiles.$": "$.noFiles",
          "files.$": "$.FileList"
        }
      },
      "End": true
    }
  }
}