deploy/projects/cnsv/states/Cons-Pymts-Incremental-to-S3Landing.param.asl.json
{
  "Comment": "Cons-Pymts Incremental-to-S3Landing. All infrastructure values substituted at deploy time.",
  "StartAt": "IngestIncrementalDataToS3Landing",
  "States": {
    "IngestIncrementalDataToS3Landing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__LANDING_GLUE_JOB_NAME__"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ServiceException",
            "Glue.AWSGlueException",
            "Glue.SdkClientException",
            "Glue.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "BackoffRate": 2,
          "MaxAttempts": 9
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleError"
        }
      ],
      "Next": "GetJobIdFromS3"
    },
    "GetJobIdFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "__JOB_ID_BUCKET__",
        "Key": "__JOB_ID_KEY__"
      },
      "ResultSelector": {
        "JobId.$": "States.StringToJson($.Body)"
      },
      "Next": "PassJobIdToParent"
    },
    "PassJobIdToParent": {
      "Type": "Pass",
      "ResultPath": "$.Payload",
      "OutputPath": "$.Payload",
      "End": true
    },
    "HandleError": {
      "Type": "Fail",
      "Error": "GlueJobFailed",
      "Cause": "The Glue job failed."
    }
  }
}