deploy/projects/cnsv/states/EXEC-SQL.asl.json
{
  "Comment": "CNSV EXEC-SQL pipeline: S3 Parquet → Stage → DataVault. All infrastructure values (Glue job names, Lambda ARNs) are substituted at deploy time.",
  "StartAt": "BuildProcessingPlan",
  "States": {
    "BuildProcessingPlan": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__BUILD_PROCESSING_PLAN_FN_ARN__",
        "Payload": {
          "data_src_nm.$": "$.data_src_nm",
          "run_type.$": "$.run_type",
          "start_date.$": "$.start_date",
          "env.$": "$.env"
        }
      },
      "ResultSelector": {
        "stgTables.$": "$.Payload.stgTables",
        "dvGroups.$": "$.Payload.dvGroups",
        "counts.$": "$.Payload.counts",
        "data_src_nm.$": "$.Payload.data_src_nm",
        "run_type.$": "$.Payload.run_type",
        "start_date.$": "$.Payload.start_date",
        "env.$": "$.Payload.env"
      },
      "ResultPath": "$.plan",
      "Next": "CheckTablesExist",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandlePipelineFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckTablesExist": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.plan.counts.stg",
          "NumericEquals": 0,
          "Next": "NoTablesToProcess"
        }
      ],
      "Default": "ProcessStageTables"
    },
    "NoTablesToProcess": {
      "Type": "Succeed",
      "Comment": "No tables found for processing"
    },
    "ProcessStageTables": {
      "Type": "Map",
      "ItemsPath": "$.plan.stgTables",
      "MaxConcurrency": 20,
      "Parameters": {
        "table_name.$": "$$.Map.Item.Value",
        "data_src_nm.$": "$.plan.data_src_nm",
        "run_type.$": "$.plan.run_type",
        "start_date.$": "$.plan.start_date",
        "env.$": "$.plan.env",
        "layer": "STG"
      },
      "Iterator": {
        "StartAt": "ExecuteStageSQL",
        "States": {
          "ExecuteStageSQL": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "__EXEC_SQL_GLUE_JOB_NAME__",
              "Arguments": {
                "--JOB_NAME": "__EXEC_SQL_GLUE_JOB_NAME__",
                "--table_name.$": "$.table_name",
                "--data_src_nm.$": "$.data_src_nm",
                "--run_type.$": "$.run_type",
                "--start_date.$": "$.start_date",
                "--env.$": "$.env",
                "--layer.$": "$.layer"
              }
            },
            "ResultPath": "$.glueResult",
            "Next": "StageTableSuccess",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "StageTableFailed",
                "ResultPath": "$.error"
              }
            ]
          },
          "StageTableSuccess": {
            "Type": "Pass",
            "Parameters": {
              "table_name.$": "$.table_name",
              "status": "SUCCESS",
              "layer": "STG"
            },
            "End": true
          },
          "StageTableFailed": {
            "Type": "Pass",
            "Parameters": {
              "table_name.$": "$.table_name",
              "status": "FAILED",
              "layer": "STG",
              "error.$": "$.error"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.stageResults",
      "Next": "CheckStageResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandlePipelineFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckStageResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__CHECK_RESULTS_FN_ARN__",
        "Payload": {
          "layer": "STG",
          "results.$": "$.stageResults"
        }
      },
      "ResultSelector": {
        "successCount.$": "$.Payload.successCount",
        "failedCount.$": "$.Payload.failedCount",
        "failedTables.$": "$.Payload.failedTables",
        "canContinue.$": "$.Payload.canContinue"
      },
      "ResultPath": "$.stageCheck",
      "Next": "ShouldProcessEDV"
    },
    "ShouldProcessEDV": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.plan.counts.dv",
              "NumericGreaterThan": 0
            },
            {
              "Variable": "$.stageCheck.canContinue",
              "BooleanEquals": true
            }
          ],
          "Next": "ProcessEDVGroups"
        }
      ],
      "Default": "FinalizePipeline"
    },
    "ProcessEDVGroups": {
      "Type": "Map",
      "ItemsPath": "$.plan.dvGroups",
      "MaxConcurrency": 1,
      "Parameters": {
        "tables.$": "$$.Map.Item.Value",
        "groupIndex.$": "$$.Map.Item.Index",
        "data_src_nm.$": "$.plan.data_src_nm",
        "run_type.$": "$.plan.run_type",
        "start_date.$": "$.plan.start_date",
        "env.$": "$.plan.env"
      },
      "Iterator": {
        "StartAt": "ProcessEDVTablesInGroup",
        "States": {
          "ProcessEDVTablesInGroup": {
            "Type": "Map",
            "ItemsPath": "$.tables",
            "MaxConcurrency": 10,
            "Parameters": {
              "table_name.$": "$$.Map.Item.Value",
              "groupIndex.$": "$.groupIndex",
              "data_src_nm.$": "$.data_src_nm",
              "run_type.$": "$.run_type",
              "start_date.$": "$.start_date",
              "env.$": "$.env",
              "layer": "EDV"
            },
            "Iterator": {
              "StartAt": "ExecuteEDVSQL",
              "States": {
                "ExecuteEDVSQL": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::glue:startJobRun.sync",
                  "Parameters": {
                    "JobName": "__EXEC_SQL_GLUE_JOB_NAME__",
                    "Arguments": {
                      "--JOB_NAME": "__EXEC_SQL_GLUE_JOB_NAME__",
                      "--table_name.$": "$.table_name",
                      "--data_src_nm.$": "$.data_src_nm",
                      "--run_type.$": "$.run_type",
                      "--start_date.$": "$.start_date",
                      "--env.$": "$.env",
                      "--layer.$": "$.layer"
                    }
                  },
                  "ResultPath": "$.glueResult",
                  "Next": "EDVTableSuccess",
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "Next": "EDVTableFailed",
                      "ResultPath": "$.error"
                    }
                  ]
                },
                "EDVTableSuccess": {
                  "Type": "Pass",
                  "Parameters": {
                    "table_name.$": "$.table_name",
                    "groupIndex.$": "$.groupIndex",
                    "status": "SUCCESS",
                    "layer": "EDV"
                  },
                  "End": true
                },
                "EDVTableFailed": {
                  "Type": "Pass",
                  "Parameters": {
                    "table_name.$": "$.table_name",
                    "groupIndex.$": "$.groupIndex",
                    "status": "FAILED",
                    "layer": "EDV",
                    "error.$": "$.error"
                  },
                  "End": true
                }
              }
            },
            "ResultPath": "$.groupResults",
            "End": true
          }
        }
      },
      "ResultPath": "$.edvResults",
      "Next": "CheckEDVResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandlePipelineFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckEDVResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__CHECK_RESULTS_FN_ARN__",
        "Payload": {
          "layer": "EDV",
          "results.$": "$.edvResults"
        }
      },
      "ResultSelector": {
        "successCount.$": "$.Payload.successCount",
        "failedCount.$": "$.Payload.failedCount",
        "failedTables.$": "$.Payload.failedTables",
        "canContinue.$": "$.Payload.canContinue"
      },
      "ResultPath": "$.edvCheck",
      "Next": "FinalizePipeline"
    },
    "FinalizePipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__FINALIZE_PIPELINE_FN_ARN__",
        "Payload": {
          "data_src_nm.$": "$.plan.data_src_nm",
          "run_type.$": "$.plan.run_type",
          "start_date.$": "$.plan.start_date",
          "stageCheck.$": "$.stageCheck",
          "edvCheck.$": "$.edvCheck",
          "counts.$": "$.plan.counts"
        }
      },
      "ResultPath": "$.finalResult",
      "Next": "PipelineSuccess",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandlePipelineFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "PipelineSuccess": {
      "Type": "Succeed"
    },
    "HandlePipelineFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__HANDLE_FAILURE_FN_ARN__",
        "Payload": {
          "error.$": "$.error",
          "data_src_nm.$": "$.data_src_nm",
          "run_type.$": "$.run_type",
          "start_date.$": "$.start_date"
        }
      },
      "Next": "PipelineFailed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineExecutionFailed",
      "Cause": "Pipeline execution failed - check logs for details"
    }
  }
}
