deploy/projects/cnsv/states/Incremental-to-S3Landing.param.asl.json
{
  "Comment": "Incremental-to-S3Landing. All infrastructure values substituted at deploy time.",
  "StartAt": "RunLandingGlue",
  "States": {
    "RunLandingGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__LANDING_GLUE_JOB_NAME__",
        "Arguments": {
          "--env": "__ENV__"
        }
      },
      "Next": "GetJobIdFromS3",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleError"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ServiceException",
            "Glue.AWSGlueException",
            "Glue.SdkClientException",
            "Glue.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 9,
          "BackoffRate": 2
        }
      ]
    },
    "GetJobIdFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "__JOB_ID_BUCKET__",
        "Key": "__JOB_ID_KEY__"
      },
      "ResultSelector": {
        "JobId.$": "States.StringToJson($.Body)"
      },
      "Next": "PassJobIdToParent"
    },
    "PassJobIdToParent": {
      "Type": "Pass",
      "End": true,
      "ResultPath": "$.JobId",
      "Parameters": {
        "JobId.$": "$.JobId.JobId"
      }
    },
    "HandleError": {
      "Type": "Fail"
    }
  }
}