deploy/projects/cnsv/states/Incremental-to-S3Landing.asl.json
{
  "Comment": "Child Step Function for Step 1 - Calls Glue Job and passes JobId",
  "StartAt": "Ingest CNSV Incremental data to S3 Landing",
  "States": {
    "Ingest CNSV Incremental data to S3 Landing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "FSA-CERT-Cnsv-LandingFiles"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ServiceException",
            "Glue.AWSGlueException",
            "Glue.SdkClientException",
            "Glue.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "BackoffRate": 2,
          "MaxAttempts": 9
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleError"
        }
      ],
      "Next": "Get Job ID from S3"
    },
    "Get Job ID from S3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "c108-cert-fpacfsa-landing-zone",
        "Key": "cnsv/etl-jobs/job_id.json"
      },
      "ResultSelector": {
        "JobId.$": "States.StringToJson($.Body)"
      },
      "Next": "Pass Job ID To Parent"
    },
    "Pass Job ID To Parent": {
      "Type": "Pass",
      "ResultPath": "$.Payload",
      "OutputPath": "$.Payload",
      "End": true
    },
    "HandleError": {
      "Type": "Fail",
      "Error": "GlueJobFailed",
      "Cause": "The Glue job failed."
    }
  }
}