deploy/projects/cnsv/states/Main.parameterized.asl.json
{
  "StartAt": "FSA-CERT-Cnsv-Incremental-to-S3Landing",
  "States": {
    "FSA-CERT-Cnsv-Incremental-to-S3Landing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.fsa_cert_cnsv_incremental_to_s3landing_state_machine_arn",
        "Input": {
          "Bucket": "c108-cert-fpacfsa-landing-zone",
          "Key": "cnsv/etl-jobs/job_id.json"
        }
      },
      "ResultSelector": {
        "JobId.$": "$.Output.JobId.JobId",
        "noFiles.$": "$.Output.JobId.noFiles",
        "FileList.$": "$.Output.JobId.FileList"
      },
      "ResultPath": "$",
      "Next": "BranchOnNoFiles"
    },
    "BranchOnNoFiles": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.noFiles",
          "BooleanEquals": true,
          "Next": "Notify"
        }
      ],
      "Default": "Update CNSV RAW-DM"
    },
    "Update CNSV RAW-DM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.fsa_cert_cnsv_s3landing_to_s3final_raw_dm_state_machine_arn",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "JobId.$": "$.JobId",
          "step_seq_nbr": "2",
          "SfName": "FSA-CERT-Cnsv-S3Landing-to-S3Final-Raw-DM"
        }
      },
      "ResultPath": "$.ProcessControlResult",
      "Next": "Update Process Control"
    },
    "Update Process Control": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.fsa_cert_cnsv_process_control_update_state_machine_arn",
        "Input": {
          "JobId.$": "$.JobId",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultPath": "$.ProcessControlResult",
      "Next": "Notify"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.fsa_cert_cnsv_sns_publish_validations_report_lambda_arn",
        "Payload": {
          "JobId.$": "$.JobId",
          "noFiles.$": "$.noFiles",
          "files.$": "$.FileList"
        }
      },
      "End": true
    }
  }
}