deploy/projects/cnsv/states/Main.param.asl.json
{
  "Comment": "CNSV Main orchestrator. All infrastructure values (SM ARNs, Lambda ARNs, Glue job names, buckets, env) are substituted at deploy time.",
  "StartAt": "RunIncrementalToS3Landing",
  "States": {
    "RunIncrementalToS3Landing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__INCREMENTAL_TO_S3LANDING_SM_ARN__",
        "Input": {
          "env": "__ENV__",
          "landing_glue_job_name": "__LANDING_GLUE_JOB_NAME__",
          "job_id_bucket": "__JOB_ID_BUCKET__",
          "job_id_key": "__JOB_ID_KEY__"
        }
      },
      "ResultPath": "$",
      "ResultSelector": {
        "FileList.$": "$.Output.JobId.FileList",
        "JobId.$": "$.Output.JobId.JobId",
        "noFiles.$": "$.Output.JobId.noFiles"
      },
      "Next": "BranchOnNoFiles",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ]
    },
    "BranchOnNoFiles": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.noFiles",
          "BooleanEquals": true,
          "Next": "Notify"
        }
      ],
      "Default": "RunS3LandingToS3FinalRawDM"
    },
    "RunS3LandingToS3FinalRawDM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__S3LANDING_TO_S3FINAL_RAW_DM_SM_ARN__",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "JobId.$": "$.JobId",
          "FileList.$": "$.FileList",
          "env": "__ENV__",
          "raw_dm_glue_job_name": "__RAW_DM_GLUE_JOB_NAME__",
          "get_incremental_tables_fn_arn": "__GET_INCREMENTAL_TABLES_FN_ARN__",
          "raw_dm_etl_workflow_update_fn_arn": "__RAW_DM_ETL_WORKFLOW_UPDATE_FN_ARN__",
          "raw_dm_sns_publish_errors_fn_arn": "__RAW_DM_SNS_PUBLISH_ERRORS_FN_ARN__",
          "final_zone_crawler_name": "__FINAL_ZONE_CRAWLER_NAME__",
          "cdc_crawler_name": "__CDC_CRAWLER_NAME__",
          "postgres_prcs_ctrl_dbname": "__POSTGRES_PRCS_CTRL_DBNAME__",
          "region_name": "__REGION_NAME__",
          "secret_name": "__SECRET_NAME__",
          "target_bucket": "__TARGET_BUCKET__"
        }
      },
      "ResultPath": "$.raw_dm_result",
      "Next": "UpdateProcessControl",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ]
    },
    "UpdateProcessControl": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "__PROCESS_CONTROL_UPDATE_SM_ARN__",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "JobId.$": "$.JobId",
          "env": "__ENV__",
          "job_logging_end_fn_arn": "__JOB_LOGGING_END_FN_ARN__",
          "validation_check_fn_arn": "__VALIDATION_CHECK_FN_ARN__"
        }
      },
      "ResultPath": "$.process_control_result",
      "Next": "Notify",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Notify"
        }
      ]
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__SNS_PUBLISH_VALIDATIONS_REPORT_FN_ARN__",
        "Payload": {
          "env": "__ENV__",
          "JobId.$": "$.JobId",
          "files.$": "$.FileList",
          "noFiles.$": "$.noFiles",
          "error.$": "$.error"
        }
      },
      "End": true
    }
  }
}