deploy/projects/cnsv/states/S3Landing-to-S3Final-Raw-DM.param.asl.json
{
  "Comment": "S3Landing-to-S3Final-Raw-DM. All infrastructure values substituted at deploy time.",
  "StartAt": "GetIncrementalTableList",
  "States": {
    "GetIncrementalTableList": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__GET_INCREMENTAL_TABLES_FN_ARN__",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "CNSVTables"
    },
    "CNSVTables": {
      "Type": "Pass",
      "Parameters": {
        "JobId.$": "$.JobId",
        "tables.$": "$.tables",
        "Target.$": "$.Target"
      },
      "ResultPath": "$.input",
      "Next": "MoveTables"
    },
    "MoveTables": {
      "Type": "Map",
      "ItemsPath": "$.input.tables",
      "MaxConcurrency": 12,
      "ItemSelector": {
        "JobId.$": "$.input.JobId",
        "Target.$": "$.input.Target",
        "app_name.$": "$$.Map.Item.Value"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Prep",
        "States": {
          "Prep": {
            "Type": "Pass",
            "Parameters": {
              "JobId.$": "$.JobId",
              "Target.$": "$.Target",
              "table.$": "$.app_name.tablename"
            },
            "ResultPath": "$.output",
            "Next": "RunRawDMGlue"
          },
          "RunRawDMGlue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "__RAW_DM_GLUE_JOB_NAME__",
              "Arguments": {
                "--JobId.$": "States.Format('{}', $.JobId)",
                "--TableName.$": "$.output.table",
                "--env": "__ENV__",
                "--postgres_prcs_ctrl_dbname": "__POSTGRES_PRCS_CTRL_DBNAME__",
                "--region_name": "__REGION_NAME__",
                "--secret_name": "__SECRET_NAME__",
                "--target_bucket": "__TARGET_BUCKET__",
                "--target_prefix.$": "$.Target"
              }
            },
            "End": true,
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.Error",
                "Next": "PublishRawDMError"
              }
            ]
          },
          "PublishRawDMError": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "__RAW_DM_SNS_PUBLISH_ERRORS_FN_ARN__",
              "Payload.$": "$"
            },
            "Next": "Done",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "Done"
              }
            ],
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          },
          "Done": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "ResultPath": "$.MapOut",
      "Next": "UpdateWorkflow"
    },
    "UpdateWorkflow": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__RAW_DM_ETL_WORKFLOW_UPDATE_FN_ARN__",
        "Payload.$": "$"
      },
      "ResultPath": "$.Update",
      "Next": "RunCrawlers",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "RunCrawlers": {
      "Type": "Parallel",
      "ResultPath": null,
      "Branches": [
        {
          "StartAt": "RunFinalZoneCrawler",
          "States": {
            "RunFinalZoneCrawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "__FINAL_ZONE_CRAWLER_NAME__"
              },
              "ResultPath": null,
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": null,
                  "Next": "FinalCrawlerFailed"
                }
              ]
            },
            "FinalCrawlerFailed": {
              "Type": "Pass",
              "Result": "Failed",
              "End": true
            }
          }
        },
        {
          "StartAt": "RunCdcCrawler",
          "States": {
            "RunCdcCrawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "__CDC_CRAWLER_NAME__"
              },
              "ResultPath": null,
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": null,
                  "Next": "CdcCrawlerFailed"
                }
              ]
            },
            "CdcCrawlerFailed": {
              "Type": "Pass",
              "Result": "Failed",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}