deploy/projects/cars/states/org/FSA-PROD-Cars-S3Landing-to-S3Final-Raw-DM.asl.json
{
  "Comment": "FSA-PROD-Cars-S3Landing-to-S3Final-Raw-DM",
  "StartAt": "Get Incremental Table list From S3",
  "States": {
    "Get Incremental Table list From S3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:253490756794:function:FSA-PROD-CARS-get-incremental-tables",
      "Parameters": {
        "JobId.$": "$.JobId",
        "SfName.$": "$.SfName"
      },
      "ResultPath": "$.incremental_tables",
      "Next": "CARS Tables"
    },
    "CARS Tables": {
      "Type": "Pass",
      "Next": "Map",
      "Parameters": {
        "JobId.$": "$.JobId",
        "SfName.$": "$.SfName",
        "Target": "cars",
        "tables.$": "$.incremental_tables.tables"
      },
      "ResultPath": "$.input"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Pass (1)",
        "States": {
          "Pass (1)": {
            "Type": "Pass",
            "Next": "Move to Final Zone",
            "ResultPath": "$.output",
            "Parameters": {
              "JobId.$": "$.JobId",
              "table.$": "$.app_name.tablename",
              "Target.$": "$.Target"
            }
          },
          "Move to Final Zone": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "FSA-PROD-Cars-Raw-DM",
              "Arguments": {
                "--JobId.$": "States.Format('{}', $.JobId)",
                "--TableName.$": "$.output.table",
                "--env": "prod",
                "--postgres_prcs_ctrl_dbname": "metadata_edw",
                "--region_name": "us-east-1",
                "--secret_name": "FSA-PROD-secrets",
                "--target_bucket": "c108-prod-fpacfsa-final-zone",
                "--target_prefix.$": "$.Target"
              }
            },
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "SNS Lambda RAW DM",
                "ResultPath": "$.Error"
              }
            ],
            "End": true
          },
          "SNS Lambda RAW DM": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:us-east-1:253490756794:function:FSA-PROD-CARS-RAW-DM-sns-publish-step-function-errors",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Next": "Pass",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "Pass"
              }
            ]
          },
          "Pass": {
            "Type": "Pass",
            "ResultPath": "$.status",
            "Result": "Error",
            "End": true
          }
        }
      },
      "Next": "data_ppl_job_update RAW DM",
      "MaxConcurrency": 12,
      "ItemsPath": "$.input.tables",
      "ItemSelector": {
        "JobId.$": "$.JobId",
        "app_name.$": "$$.Map.Item.Value",
        "Target.$": "$.input.Target"
      },
      "ResultPath": "$.MapOut"
    },
    "data_ppl_job_update RAW DM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:253490756794:function:FSA-PROD-CARS-RAW-DM-etl-workflow-update-data-ppln-job"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "BackoffRate": 2,
          "MaxAttempts": 3
        }
      ],
      "ResultPath": "$.Update",
      "Next": "FSA-PROD-CARS Crawler"
    },
    "FSA-PROD-CARS Crawler": {
      "Type": "Task",
      "Parameters": {
        "Name": "FSA-PROD-CARS-CRAWLER"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "ResultPath": "$.Crawler",
      "OutputPath": "$.Crawler",
      "End": true
    }
  }
}