deploy/projects/fmmi/states/CSV-STG-ODS.asl.json
{
  "Comment": "FMMI Echo → STG → ODS Pipeline with BOTH support (all Glue job names + S3 buckets/folders are variables)",
  "StartAt": "RunEchoLanding",
  "States": {
    "RunEchoLanding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.echo_landing_job_name",
        "Arguments": {
          "--env.$": "$.env",
          "--run_date.$": "$.run_date",
          "--file_name.$": "$.file_name",
          "--file_names.$": "$.file_names",
          "--bucket_name.$": "$.landing_bucket",
          "--folder_name.$": "$.landing_folder"
        }
      },
      "ResultPath": "$.echo_landing_result",
      "Next": "CheckJobType",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ]
    },

    "CheckJobType": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.job_type", "StringEquals": "BOTH", "Next": "RunBOTH" },
        { "Variable": "$.job_type", "StringEquals": "STG",  "Next": "RunSTG" },
        { "Variable": "$.job_type", "StringEquals": "ODS",  "Next": "RunODS" }
      ],
      "Default": "RunSTG"
    },

    "RunSTG": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.stg_ods_job_name",
        "Arguments": {
          "--job_type": "STG",
          "--env.$": "$.env",
          "--bucket_name.$": "$.landing_bucket",
          "--folder_name.$": "$.landing_folder",
          "--stg_bucket_name.$": "$.stg_bucket",
          "--stg_folder_name.$": "$.stg_folder",
          "--ods_bucket_name.$": "$.ods_bucket",
          "--ods_folder_name.$": "$.ods_folder",
          "--file_name.$": "$.file_name",
          "--file_names.$": "$.file_names",
          "--run_date.$": "$.run_date"
        }
      },
      "ResultPath": "$.stg_result",
      "Next": "RunODS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ]
    },

    "RunODS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.stg_ods_job_name",
        "Arguments": {
          "--job_type": "ODS",
          "--env.$": "$.env",
          "--bucket_name.$": "$.landing_bucket",
          "--folder_name.$": "$.landing_folder",
          "--stg_bucket_name.$": "$.stg_bucket",
          "--stg_folder_name.$": "$.stg_folder",
          "--ods_bucket_name.$": "$.ods_bucket",
          "--ods_folder_name.$": "$.ods_folder",
          "--file_name.$": "$.file_name",
          "--file_names.$": "$.file_names",
          "--run_date.$": "$.run_date"
        }
      },
      "ResultSelector": {
        "landing_date.$": "$.JobRun.Output.landing_date",
        "success_tables.$": "$.JobRun.Output.success_tables",
        "missing_tables.$": "$.JobRun.Output.missing_tables",
        "failed_tables.$": "$.JobRun.Output.failed_tables",
        "gl_count.$": "$.JobRun.Output.gl_count",
        "sa_count.$": "$.JobRun.Output.sa_count",
        "gl_sa_status.$": "$.JobRun.Output.gl_sa_status"
      },
      "ResultPath": "$.ods_result",
      "Next": "SuccessSNS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ]
    },

    "RunBOTH": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.stg_ods_job_name",
        "Arguments": {
          "--job_type": "BOTH",
          "--env.$": "$.env",
          "--bucket_name.$": "$.landing_bucket",
          "--folder_name.$": "$.landing_folder",
          "--stg_bucket_name.$": "$.stg_bucket",
          "--stg_folder_name.$": "$.stg_folder",
          "--ods_bucket_name.$": "$.ods_bucket",
          "--ods_folder_name.$": "$.ods_folder",
          "--file_name.$": "$.file_name",
          "--file_names.$": "$.file_names",
          "--run_date.$": "$.run_date"
        }
      },
      "ResultSelector": {
        "landing_date.$": "$.JobRun.Output.landing_date",
        "success_tables.$": "$.JobRun.Output.success_tables",
        "missing_tables.$": "$.JobRun.Output.missing_tables",
        "failed_tables.$": "$.JobRun.Output.failed_tables",
        "gl_count.$": "$.JobRun.Output.gl_count",
        "sa_count.$": "$.JobRun.Output.sa_count",
        "gl_sa_status.$": "$.JobRun.Output.gl_sa_status"
      },
      "ResultPath": "$.ods_result",
      "Next": "SuccessSNS",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ]
    },

    "SuccessSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Message": {
          "default": {
            "status": "SUCCESS",
            "env.$": "$.env",
            "run_date.$": "$.run_date",
            "landing_date.$": "$.ods_result.landing_date",
            "success_tables.$": "$.ods_result.success_tables",
            "missing_tables.$": "$.ods_result.missing_tables",
            "failed_tables.$": "$.ods_result.failed_tables",
            "gl_count.$": "$.ods_result.gl_count",
            "sa_count.$": "$.ods_result.sa_count",
            "gl_sa_status.$": "$.ods_result.gl_sa_status"
          }
        }
      },
      "End": true
    },

    "FailureSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Message": {
          "default": {
            "status": "FAILED",
            "env.$": "$.env",
            "run_date.$": "$.run_date",
            "error.$": "$.error"
          }
        }
      },
      "End": true
    }
  }
}
