deploy/projects/fmmi/states/CSV-STG-ODS.asl.json
{
  "Comment": "FMMI Echo \u2192 STG/ODS Pipeline. All infrastructure values (job names, Lambda ARNs, SNS ARN, S3 buckets/folders, env) are substituted at deploy time. Optional runtime input: use_existing_landing (bool).",
  "StartAt": "SaveInput",
  "States": {

    "SaveInput": {
      "Type": "Pass",
      "Comment": "Snapshot caller input so it survives ResultPath overwrites on subsequent Task states.",
      "ResultPath": "$.OriginalInput",
      "Next": "CheckSkipLanding"
    },

    "CheckSkipLanding": {
      "Type": "Choice",
      "Comment": "Pass use_existing_landing=true to skip the Echo Landing Glue job.",
      "Choices": [
        {
          "And": [
            { "Variable": "$.OriginalInput.use_existing_landing", "IsPresent": true },
            { "Variable": "$.OriginalInput.use_existing_landing", "BooleanEquals": true }
          ],
          "Next": "InitArgs"
        }
      ],
      "Default": "RunEchoLanding"
    },

    "RunEchoLanding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__ECHO_LANDING_JOB_NAME__",
        "Arguments": {
          "--JOB_NAME": "__ECHO_LANDING_JOB_NAME__",
          "--SecretId": "__ECHO_SECRET_ID__",
          "--DestinationBucket": "__LANDING_BUCKET__",
          "--DestinationPrefix": "__LANDING_FOLDER__",
          "--EchoFolder": "fmmi",
          "--FileNames": "FMMI.FSA*",
          "--PipelineName": "__PIPELINE_NAME__"
        }
      },
      "ResultPath": "$.LandingResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "CheckNoFilesLambda"
    },

    "CheckNoFilesLambda": {
      "Type": "Task",
      "Comment": "Lambda checks landing zone for a _NO_FILES sentinel key. ARN substituted at deploy time.",
      "Resource": "__CHECK_NOFILES_LAMBDA_ARN__",
      "ResultPath": "$.NoFilesCheck",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "CheckNoFilesChoice"
    },

    "CheckNoFilesChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.NoFilesCheck.no_files",
          "BooleanEquals": true,
          "Next": "SuccessSNS_NoFiles"
        }
      ],
      "Default": "InitArgs"
    },

    "InitArgs": {
      "Type": "Pass",
      "Parameters": {
        "JobName": "__STG_ODS_JOB_NAME__",
        "Arguments": {
          "--JOB_NAME": "__STG_ODS_JOB_NAME__",
          "--SecretId": "__ECHO_SECRET_ID__",
          "--env": "__ENV__",
          "--bucket_name": "__LANDING_BUCKET__",
          "--folder_name": "__LANDING_FOLDER__",
          "--stg_bucket_name": "__STG_BUCKET__",
          "--stg_folder_name": "__STG_FOLDER__",
          "--ods_bucket_name": "__ODS_BUCKET__",
          "--ods_folder_name": "__ODS_FOLDER__",
          "--job_type": "BOTH",
          "--PipelineName": "__PIPELINE_NAME__"
        }
      },
      "ResultPath": "$.GlueArgs",
      "Next": "RunGlue"
    },

    "RunGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.GlueArgs.JobName",
        "Arguments.$": "$.GlueArgs.Arguments"
      },
      "ResultPath": "$.GlueResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "RunCrawler"
    },

    "RunCrawler": {
      "Type": "Task",
      "Comment": "Lambda triggers the ODS Glue crawler. ARN substituted at deploy time.",
      "Resource": "__CRAWLER_LAMBDA_ARN__",
      "ResultPath": "$.CrawlerResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "SuccessSNS"
    },

    "SuccessSNS_NoFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "SUCCESS",
          "env": "__ENV__",
          "message": "No files found in landing zone. Pipeline skipped."
        }
      },
      "End": true
    },

    "SuccessSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "SUCCESS",
          "env": "__ENV__",
          "glue_result.$": "$.GlueResult",
          "crawler_result.$": "$.CrawlerResult"
        }
      },
      "End": true
    },

    "FailureSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "FAILED",
          "env": "__ENV__",
          "error.$": "$.error"
        }
      },
      "End": true
    }

  }
}
