deploy/projects/fmmi/states/CSV-STG-ODS.asl.json
{
  "Comment": "FMMI Echo \u2192 STG/ODS Pipeline. All infrastructure values (job names, Lambda ARNs, SNS ARN, S3 buckets/folders, env) are substituted at deploy time. The only runtime inputs required are: run_date (string), and optionally file_name (string), job_type (STG|ODS|BOTH), use_existing_landing (bool).",
  "StartAt": "SaveInput",
  "States": {

    "SaveInput": {
      "Type": "Pass",
      "Comment": "Snapshot caller input so it survives ResultPath overwrites on subsequent Task states.",
      "ResultPath": "$.OriginalInput",
      "Next": "CheckSkipLanding"
    },

    "CheckSkipLanding": {
      "Type": "Choice",
      "Comment": "Pass use_existing_landing=true to skip the Echo Landing Glue job.",
      "Choices": [
        {
          "And": [
            { "Variable": "$.OriginalInput.use_existing_landing", "IsPresent": true },
            { "Variable": "$.OriginalInput.use_existing_landing", "BooleanEquals": true }
          ],
          "Next": "CheckFileInputs"
        }
      ],
      "Default": "RunEchoLanding"
    },

    "RunEchoLanding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "__ECHO_LANDING_JOB_NAME__",
        "Arguments": {
          "--env": "__ENV__",
          "--run_date.$": "$.OriginalInput.run_date",
          "--bucket_name": "__LANDING_BUCKET__",
          "--folder_name": "__LANDING_FOLDER__"
        }
      },
      "ResultPath": "$.LandingResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "CheckNoFilesLambda"
    },

    "CheckNoFilesLambda": {
      "Type": "Task",
      "Comment": "Lambda checks landing zone for a _NO_FILES sentinel key. ARN substituted at deploy time.",
      "Resource": "__CHECK_NOFILES_LAMBDA_ARN__",
      "ResultPath": "$.NoFilesCheck",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "CheckNoFilesChoice"
    },

    "CheckNoFilesChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.NoFilesCheck.no_files",
          "BooleanEquals": true,
          "Next": "SuccessSNS_NoFiles"
        }
      ],
      "Default": "CheckFileInputs"
    },

    "CheckFileInputs": {
      "Type": "Choice",
      "Comment": "If file_name is present, route to single-file run; otherwise full-batch BOTH run.",
      "Choices": [
        {
          "Variable": "$.OriginalInput.file_name",
          "IsPresent": true,
          "Next": "InitArgsWithFileName"
        }
      ],
      "Default": "InitArgsNoFileName"
    },

    "InitArgsWithFileName": {
      "Type": "Pass",
      "Comment": "Single-file run. job_type must be supplied by caller (STG, ODS, or BOTH).",
      "Parameters": {
        "JobName": "__STG_ODS_JOB_NAME__",
        "Arguments": {
          "--job_type.$": "$.OriginalInput.job_type",
          "--env": "__ENV__",
          "--bucket_name": "__LANDING_BUCKET__",
          "--folder_name": "__LANDING_FOLDER__",
          "--stg_bucket_name": "__STG_BUCKET__",
          "--stg_folder_name": "__STG_FOLDER__",
          "--ods_bucket_name": "__ODS_BUCKET__",
          "--ods_folder_name": "__ODS_FOLDER__",
          "--run_date.$": "$.OriginalInput.run_date",
          "--file_name.$": "$.OriginalInput.file_name"
        }
      },
      "ResultPath": "$.GlueArgs",
      "Next": "RunGlue"
    },

    "InitArgsNoFileName": {
      "Type": "Pass",
      "Comment": "Full-batch run. job_type defaults to BOTH.",
      "Parameters": {
        "JobName": "__STG_ODS_JOB_NAME__",
        "Arguments": {
          "--job_type": "BOTH",
          "--env": "__ENV__",
          "--bucket_name": "__LANDING_BUCKET__",
          "--folder_name": "__LANDING_FOLDER__",
          "--stg_bucket_name": "__STG_BUCKET__",
          "--stg_folder_name": "__STG_FOLDER__",
          "--ods_bucket_name": "__ODS_BUCKET__",
          "--ods_folder_name": "__ODS_FOLDER__",
          "--run_date.$": "$.OriginalInput.run_date"
        }
      },
      "ResultPath": "$.GlueArgs",
      "Next": "RunGlue"
    },

    "RunGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.GlueArgs.JobName",
        "Arguments.$": "$.GlueArgs.Arguments"
      },
      "ResultPath": "$.GlueResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "RunCrawler"
    },

    "RunCrawler": {
      "Type": "Task",
      "Comment": "Lambda triggers the ODS Glue crawler. ARN substituted at deploy time.",
      "Resource": "__CRAWLER_LAMBDA_ARN__",
      "ResultPath": "$.CrawlerResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailureSNS"
        }
      ],
      "Next": "SuccessSNS"
    },

    "SuccessSNS_NoFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "SUCCESS",
          "env": "__ENV__",
          "message": "No files found in landing zone. Pipeline skipped.",
          "run_date.$": "$.OriginalInput.run_date"
        }
      },
      "End": true
    },

    "SuccessSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "SUCCESS",
          "env": "__ENV__",
          "run_date.$": "$.OriginalInput.run_date",
          "glue_result.$": "$.GlueResult",
          "crawler_result.$": "$.CrawlerResult"
        }
      },
      "End": true
    },

    "FailureSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "__SNS_TOPIC_ARN__",
        "Message": {
          "status": "FAILED",
          "env": "__ENV__",
          "run_date.$": "$.OriginalInput.run_date",
          "error.$": "$.error"
        }
      },
      "End": true
    }

  }
}
